<% layout("./layouts/admin_boilerplate.ejs") %>
<body>
<div class="top-bar">
        <a href="/admin/grievances">
        <div class="total grievances">
            <p class="grey"><i class="fa-regular fa-file-zipper"></i> Total Grievances</p>
            <h1><%= grievances.length%></h1>
        </div>
        </a>
        <a href="/admin/assign">
        <div class="unassigned-grievances">
            <p class="orange"><i class="fa-solid fa-triangle-exclamation"></i> Unassigned Grievances</p>
            <h1><%=grievancesUnassigned%></h1>
        </div>
        </a>
        <a href="/admin/status/?status=In Progress">
        <div class="in-progress">
            <p class="blue"><i class="fa-solid fa-briefcase"></i> In Progress</p>
            <h1><%=grievancesInprogress%></h1>
        </div>
        </a>
        <a href="/admin/status/?status=Resolved">
        <div class="resolved">
            <p class="green"><i class="fa-regular fa-circle-check"></i> Resolved</p>
            <h1><%=grievancesResolved%></h1>
        </div>
        </a>
        <a href="/admin/grievances" class="breachedgrievances">
        <div class="sla-breached">
            <p class="red"><i class="fa-solid fa-triangle-exclamation"></i> SLA Breached</p>
            <h1><%= breached %></h1>
        </div>
        </a>
    </div>
    
    <div class="sla-status">
        <div class="on-track green">
            <p class=""><i class="fa-regular fa-circle-check"></i> On Track - <%= onTrack %></p>
        </div>
        <div class="at-risk orange">
            <p class=""><i class="fa-solid fa-exclamation"></i> At Risk - <%= atRisk %></p>
        </div>
        <div class="breached red">
            <p class=""><i class="fa-solid fa-triangle-exclamation"></i> Breached - <%= breached %></p>
        </div>
    </div>
    <div class="At-risk">
    <h1>Grievances At Risk</h1>
    </div>
    <div class="risk-table">
        <div>
        <table>
            
        </table>
        <div class="btn-container"></div>
        </div>
    </div>
    

</body>
