<% layout("./layouts/boilerpalte.ejs") %>
<body class="user-home">
    
    <% if(user.status === "Blocked") {%>
    <div class="blocked-banner">
        <strong>Account Restricted</strong>
        <p>
            Your account is currently restricted.
            You can view existing grievances, but you cannot raise new ones.
        </p>
   </div>
    <%}%>
    <div class="summary">
        <div class="box red">
      <% let breached=0 %>
      <%for(grievance of datas) {%>
        <% if(grievance.status != "Resolved" && Date.now() > grievance.duedate) {%>
          <%breached++%>
        <%}%>
      <%}%>
      <p>Breached</p>
      <h3><%=breached%></h3>
    </div>
    <div class="box orange">
      <% let unassigned=0 %>
      <%for(grievance of datas) {%>
        <% if(!grievance.assigned_To) {%>
          <%unassigned++%>
        <%}%>
      <%}%>
      <p>UnAssigned</p>
      <h3><%= unassigned %></h3>
    </div>
    <div class="box blue">
      <% let underreview=0 %>
      <%for(grievance of datas) {%>
        <% if(grievance.status === "Under Review") {%>
          <%underreview++%>
        <%}%>
      <%}%>
      <p>Under Review</p>
      <h3><%= underreview %></h3>
    </div>
    <div class="box Hunter-Green">
      <% let ontrack=0 %>
      <%for(grievance of datas) {%>
        <% if(grievance.status === "In Progress" &&  Date.now() < grievance.duedate && Date.now() > grievance.duedate-(24*60*60*1000)) {%>
          <%ontrack++%>
        <%}%>
      <%}%>
      <p>On Track</p>
      <h3><%= ontrack %></h3>
    </div>
    
    
  </div>

<!-- FILTER BAR (CLICKABLE) -->
  <div class="filters">
    <a href="/user/?filter=All">All</a>
    <a href="/user/?filter=Submitted">Un-Assigned</a>
    <a href="/user/?filter=Under Review">Under Review</a>
    <a href="/user/?filter=In Progress">In Progress</a>
    <a href="/user/?filter=ResolvedWithin">Resolved Within SLA</a>
    <a href="/user/?filter=ResolvedAfter">Resolved After SLA Breach</a>
  </div>


<% if(user.status === "Active") {%>
    <div class="header">
        <div class="my-grievances">
            <h2>My Grievances</h2>
        </div>
        <div class="new-grievance-button">
            <form method="get" action="/user/newgrievance">
                <button>+ Raise New Grievance  ></button>
            </form>
        </div>
    </div>
<%}%>

    
    <div class="grievances-list">
        <% for(grievance of grievances) {%>
            <% if(grievances.length>0) {%>
            <div class="grievance">
            <a href="/user/<%=grievance._id%>" style="text-decoration: none; color: black;">
            <div class="secondary-grievance">
                <div class="top-info">
                    <div class="leftside-info">
                        <div class="title-info">
                            <h4><%= grievance.title %></h4>
                        </div>
                        <div class="category-info">
                            <b><%= grievance.category %></b>
                        </div> 
                    </div>
                   <div class="rightside-info">
                    <div class="status-info">
                        <% if(grievance.status === "Submitted") {%>
                        <b class="gray"><%= grievance.status %></b>
                        <%}%>
                        <% if(grievance.status === "Under Review") {%>
                        <b class="orange"><%= grievance.status %></b>
                        <%}%>
                        <% if(grievance.status === "In Progress") {%>
                        <b class="blue"><%= grievance.status %></b>
                        <%}%>
                        <% if(grievance.status === "Resolved") {%>
                        <b class="green"><%= grievance.status %></b>
                        <%}%>
                    </div>
                    <div class="slastatus-info">
                        <% if(grievance.slaStatus === "On Track") {%>
                            <div class="sla-block sla-ontrack"><i class="fa-regular fa-circle-check"></i><%= grievance.slaStatus %></div>
                        <%}%>
                        <% if(grievance.slaStatus === "Breached") {%>
                            <div class="sla-block sla-breached"><p><% let hours = Math.floor((Date.now() - grievance.duedate)/(60*60*1000)) %>Overdue by <%= hours %> Hours&nbsp;&nbsp;&nbsp;Breached</p></div>
                        <%}%>
                        <% if(!grievance.slaStatus && Date.now() < grievance.duedate-(24*60*60*1000)) {%>
                            <div class="sla-block sla-ontrack"><p><% let hours = Math.floor((grievance.duedate - Date.now())/(60*60*1000)) %><%= hours %> Hours left &nbsp;&nbsp;&nbsp;<i class="fa-regular fa-circle-check"></i>On-Track</p></div>
                        <%}%>
                        <% if(!grievance.slaStatus && Date.now() < grievance.duedate && Date.now() > grievance.duedate-(24*60*60*1000)) {%>
                            <div class="sla-block sla-risk"><p><% let hours = Math.floor((grievance.duedate - Date.now())/(60*60*1000) )%><%= hours %> Hours left  &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-exclamation"></i>At-Risk</p></div>
                        <%}%>
                        <% if(!grievance.slaStatus && Date.now() > grievance.duedate) {%>
                            <div class="sla-block sla-breached"><p><i class="fa-solid fa-triangle-exclamation"></i> <% let hours = Math.floor((Date.now() - grievance.duedate)/(60*60*1000)) %>Overdue by <%= hours %> Hours&nbsp;&nbsp;&nbsp;Breached</p></div>          
                        <%}%>
                      </div>
                    </div>
                </div>
                <hr>
                <div class="middle-info"> 
                    <p><%= grievance.description %></p>
                </div>
            </div>
                <div class="bottom-info">
                    <div class="lastupdated-info">
                        Last Updated: 
                        <% if( Math.floor( (Date.now() - grievance.updatedAt.getTime()) / (24*60*60*1000)) < 1 ) {%>
                            <b> Today</b>
                        <%}%>
                        <% if( Math.floor( (Date.now() - grievance.updatedAt.getTime()) / (24*60*60*1000)) >= 1 ) {%>
                            <b> <%= Math.floor( (Date.now() - grievance.updatedAt.getTime()) / (24*60*60*1000)) %> days ago</b>
                        <%}%>
                    </div>
                    <div class="breakdown">
                        |
                    </div>
                    <div class="assignedto-info">
                        
                        <% if(grievance.assigned_To) {%>
                            <p><%= (grievance.assignedtoHistory.length >0 ? "Reassigned To": "Assigned To") %>: <b><%= grievance.assigned_To %></b></p>
                        <%}%>
                        <% if(!grievance.assigned_To) {%>
                            Not Assigned yet
                        <%}%>
                    </div>
                </div>

            </a>
            </div>
            <%}%>
        <% } %>
        <% if(grievances.length === 0) {%>
          <P class="no-grievances">No Grievances Found</P>
        <%}%>
    </div>
<!-- Overlay -->
<div class="overlay" id="overlay"></div>

<!-- Side Menu -->



</body>
